<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="credentialsConfiguration" type="Telerik.WebTestRunner.Client.Configuration.Sections.CredentialsConfigSection, Telerik.WebTestRunner.Client.Core"/>
    <section name="runnerConfiguration" type="Telerik.WebTestRunner.Client.Configuration.Sections.RunnerConfigSection, Telerik.WebTestRunner.Client.Core"/>
  </configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100000"/>
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear/>
        <add name="xmlTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="CmdRunner.Trace.xml"/> 
      </listeners>
    </trace>
  </system.diagnostics>
  <credentialsConfiguration>
    <credentials>
      <credential username="admin@test.test" password="admin@2" provider="" isActive="true"/>
    </credentials>
  </credentialsConfiguration>
  <runnerConfiguration>
    <runner timeout="60" testTimeout="10"/>
  </runnerConfiguration>
</configuration>
