<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Progress.Sitefinity.Renderer" version="13.2.7500.8273" targetFramework="net48" />
  <package id="Sitefinity.Gallio_MbUnit" version="3.4.11.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="Telerik.Sitefinity.Core" version="13.2.7500" targetFramework="net48" />
  <package id="Telerik.Sitefinity.WebTestRunner.Server" version="2.0.0.1" targetFramework="net48" />
</packages>