<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="teamsConfiguration" type="Telerik.WebTestRunner.Client.Configuration.Sections.TeamConfigSection, Telerik.WebTestRunner.Client.Core"/>
    <section name="machineSpecificConfigurations" type="Telerik.WebTestRunner.Client.Configuration.Sections.MachineSpecificSection, Telerik.WebTestRunner.Client.Core"/>
    <section name="credentialsConfiguration" type="Telerik.WebTestRunner.Client.Configuration.Sections.CredentialsConfigSection, Telerik.WebTestRunner.Client.Core"/>
    <section name="runnerConfiguration" type="Telerik.WebTestRunner.Client.Configuration.Sections.RunnerConfigSection, Telerik.WebTestRunner.Client.Core"/>
  </configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100000"/>
    </connectionManagement>
  </system.net>
  <teamsConfiguration>
    <teams>
      <team name="Team 1">
        <members>
          <member fullName="User1" aliases="user1, user 1"></member>
          <member fullName="User2" aliases="user2, user 2"></member>
        </members>
      </team>
    </teams>
  </teamsConfiguration>
  <machineSpecificConfigurations>
    <machines>
      <machine name="MACHINENAME" testingInstanceUrl="http://localhost" />
      <machine name="GIGEORGIEV" testingInstanceUrl="http://localhost:9955" />
    </machines>
  </machineSpecificConfigurations>
  <credentialsConfiguration>
    <credentials>
      <credential username="admin@test.test" password="admin@2" provider=""
        isActive="true" />
    </credentials>
    <tfisSettings tokenEndpoint=""
      enabled="false" basicAuthorization="" />
  </credentialsConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runnerConfiguration>
    <runner timeout="60" testTimeout="3"/>
  </runnerConfiguration>
</configuration>
